body{
/* background-image: url('https://media3.giphy.com/media/VQvqcZvuW3NsbR3Vqc/giphy.gif?cid=ecf05e47fn2x1h8zilwh6paa7esh2ntqcfc7o0hmhbmjc58n&rid=giphy.gif&ct=g'); */
background-size: cover;
background-color: #408080;
}


ul {
  display: table;
  margin: 0 auto;
  font-size:80px;
}

li{
	font-size:40px;
	}
