body{
/* background-image: url('https://media3.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif?cid=ecf05e47yuveqs0uy9bt9pa4m74eqpt7cd82omobfh1ambpr&rid=giphy.gif&ct=g'); */
background-size: cover;
background-color: #408080;
}


ul {
  display: table;
  margin: 0 auto;
  font-size:80px;
}

li{
	font-size:40px;
	}
