body {
    margin: 0px 50px 0px 50px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: rgba(128, 128, 128, 0.22)
    /*背景色彩*/
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    height: 60px;
}

.top-web-space {
    width: 100%;
    height: 100px;
  /*  border: 3px black dashed; */
}

.news {
   /* border: 3px red dashed; */
}

.banner {
    width: 100%;
    /* border: 3px green dashed; */
    background-color: rgb(0, 132, 206);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    box-shadow: -2px 1px 10px #000000;
}

.news-image {
    width: 100%;
    height: 200px;
    border: 3px rgb(30, 16, 187) dashed;
    flex-direction: row-reverse
}

.news-image img {
    margin: 0 20px 0 20px;
    border: 3px rgb(76, 187, 16) dashed;
}

.main {
    background-color: white;
}

.top-coin {
 /*   border: 3px rgb(255, 251, 0) dashed; */
    height: 50em;
}

.currencyIcon {
    width: 32px;
    height: 32px;
}

td {
    width: 100px;
    height: 100px;
}

.star{
     color: rgb(206, 202, 202);
        }
.check{
     display: none;
    }

.check:checked + span{
     color: rgb(255, 0, 106);     
        }
